extends layout

block content
  h1= title
  p Tervetuloa videopelipankkiin!
  p Lisää uusi peli <a href="/newuser">painamalla tästä</a>
  p Selaa pelipankkia <a href="/userlist">painamalla tästä</a>	//Vaatii tietokannan avaamisen toimiakseen!
